---
---

@import "{{ site.theme }}";

.page-header {
  background: url('/images/P1012701.JPG') center center / cover no-repeat !important;
  min-height: 420px;
}
.page-header h1,
.page-header p {
  color: white;
}
